# Python / Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
myenv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django Specific
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Environment Variables
.env

# OS / System
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# IDEs / Editors
.vscode/
.idea/
*.swp
*.bak
*.pyc

# Log Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore the data_to_import folder: I don't want my raw JSONs in GitHub
data_to_import/